

.contacts__list {
    max-width: 450px;
    margin: 0 auto;
    padding: 10px 20px;
    list-style: inside;
    font-size: 20px;
   
    color: rgb(17, 5, 71);
  
}

.error {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #b5ddf2;
}

.error_icon {
    margin-bottom: -5px;
}